prisma/database.db
badlucky/.vscode
badlucky/.svelte-kit
badlucky/build
badlucky/node_modules/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
database/config.json
database/*.db
database/*.db-journal
.vscode/_modules
package-lock.json
database
bun.lock
bun.lockb
public
node_modules